<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="UnicornTestingDBEntities" connectionString="metadata=res://*/DAL.UnicornEntity.csdl|res://*/DAL.UnicornEntity.ssdl|res://*/DAL.UnicornEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pumwdwhsql01.apac.scientificgames.com;initial catalog=UnicornTestingDB;persist security info=True;user id=sa;password=welcome123!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UnicornDBEntities" connectionString="metadata=res://*/DAL.UnicornDB.csdl|res://*/DAL.UnicornDB.ssdl|res://*/DAL.UnicornDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pumwdwhsql01.apac.scientificgames.com;initial catalog=UnicornTestingDB;persist security info=True;user id=sa;password=welcome123!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UnicornDBContext" connectionString="metadata=res://*/DAL.UnicornDBModel.csdl|res://*/DAL.UnicornDBModel.ssdl|res://*/DAL.UnicornDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.2.138.25;initial catalog=UnicornDB;user id=unicorn;password=password-1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>